[SPIN MB]
model_type = 0
use_simple = 0

[SPIN Temperature]
temp_file = vostok_125kyr_glimmer_friendly.data
model_type = 0
use_simple = 0

[SPIN SLC]
slc_file = ./specmap_125kyr_glimmer_friendly.data

[grid]
ewn = 600
nsn = 600
upn = 11
dew = 10000
dns = 10000

[sigma]
sigma_levels = 0.00 0.15 0.30 0.45 0.60 0.75 0.83 0.90 0.95 0.98 1.00

[options]
temperature = 1
flow_law = 0
marine_margin = 5
slip_coeff = 5
evolution = 0
basal_water = 2
vertical_integration = 0
topo_is_relaxed = 2
hotstart = 0

[isostasy]
lithosphere=1
asthenosphere=1
relaxed_tau=3000.0

[GTHF]

[time]
tend = 125001
dt = 0.2
ntem = 2.5
nvel = 0.5

[parameters]
flow_factor = 2.5
ice_limit= 100.0
stressin = 0.80
stressout = 0.0
sliding_constant = 1.8d-5

[CF default]
title: Antarctica
comment: Antarctica initialization

[CF output]
name: spin10kmAnt_0314_linear_1.8d5_less.nc
frequency: 1000
variables: thk btemp surfvel artm usurf ivol iarea acab  

[CF output]
name: spin10kmAnt_0314_linear_1.8d5_hot.nc
frequency: 25000
variables: hot lon presprcp presartm

[CF output]
name: spin10kmAnt_0314_linear_1.8d5_full.nc
frequency:1000
variables: hot thk bmlt btemp temp bwat uvel thkmask ablt surfvel vvel wvel wgrd acab diffu artm usurf topg relx flwa arng prcp bheatflx presprcp presartm ivol iarea btrc ubas vbas taux tauy backstress

[CF input]
name: ./antarctica_10km_woshelves_v06.nc

