[ISMIP-HOM-A]
temperature = -30. 1.67e-5

[parameters]
geothermal = -42e-3
flow_factor = 1
ice_limit = 0

[CF output]
variables = usrf topg thk temp flwa uvelhom vvelhom tauf etill u_till dynbcmask btractx btracty tau_xz tau_yz bmelt
frequency = 50
name = bproc.out.nc

[grid]
upn = 11
ewn = 45
nsn = 22
dew = 5000
dns = 5000
#ewn = 90
#nsn = 44
#dew = 2500
#dns = 2500
sigma_builtin = 1

[time]
niso = 1.
tend = 1000.0
ntem = 1.
tstart = 0.0
dt = 10.0 
nvel = 1.

[CF default]
comment = none
title = Coupled ice sheet / Basal Processes Model 

[options]
flow_law = 0
evolution = 3
temperature = 1
vertical_integration = 0
sliding_law = 4
marine_margin = 2
stress_calc = 2
hotstart = 0
basal_water = 4
isostasy = 0
diagnostic_run = 0
basal_proc = 0

[ho_options]
diagnostic_scheme = 3
prognostic_scheme = 0
which_ho_babc = 2
which_ho_resid = 2
which_ho_sparse = 1
which_ho_efvs = 0
which_disp = 0
which_bmelt = 0

[till_options]
till_hot = 0
fric = 0.45d0
etillo=0.7d0
No=1000d0
Comp=0.12d0
Cv=1e-8
Kh=1e-10
Zs=3.0d0
tnodes=5
aconst=131000d0
bconst=5.7d0

[CF input]
name = bproc.nc
time = 1
