[SHELF-TEST]
temperature = -30. 1.67e-5

[parameters]
flow_factor = 1
default_flwa=4.6e-18

[CF output]
variables = thk uvelhom vvelhom velnormhom
frequency = 1
name = output/circular-shelf.out.nc

[grid]
upn = 5
ewn = 81
nsn = 81
dew = 625
dns = 625
sigma_builtin = 1

[time]
tstart = 0.
tend = 1.
dt = 1.

[CF default]
comment = created by circular-shelf.py
title = Circular Shelf Experiment

[options]
flow_law = 2
evolution = 0
marine_margin = 0
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 3
which_ho_efvs = 0
which_ho_babc = 5
which_ho_resid = 0
which_ho_sparse = 1

[CF input]
name = output/circular-shelf.nc
time = 1
