[SHELF-TEST]

[parameters]
default_flwa = 4.6e-18
flow_factor = 1

[CF output]
variables = thk uvelhom vvelhom velnormhom
frequency = 1
name = output/confined-shelf.out.nc

[grid]
upn = 11
ewn = 51
nsn = 51
dew = 500
dns = 500
sigma_builtin = 1

[time]
tstart = 0.
tend = 1.
dt = 1.

[CF default]
comment = created by confined-shelf.py
title = Confined Shelf Experiment

[options]
evolution = 0
flow_law = 2
marine_margin = 2
diagnostic_run = 1
periodic_ew = 0
periodic_ns = 0

[ho_options]
diagnostic_scheme = 3
which_ho_sparse = 1
which_ho_babc = 5
which_ho_efvs = 0

[CF input]
name = output/confined-shelf.nc
time = 1

