[parameters]
geothermal = -42e-3
default_flwa = 4.6e-18
flow_factor = 1

[Petermann shelf]
air_temperature = -5.0
accumulation_rate = 10.0
eustatic_sea_level = 0.0

[options]

flow_law = 1
evolution = 3
temperature = 0
vertical_integration = 1
marine_margin = 0
topo_is_relaxed = 1
slip_coeff = 1
periodic_ew = 0
periodic_ns = 0
hotstart = 0
basal_water = 2
which_bmlt = 1

[grid]
upn = 11
ewn = 46
nsn = 86
dew = 200
dns = 200
sigma_builtin = 1

[ho_options]
which_ho_sparse_fallback = -1
basal_stress_input = 3
which_ho_resid = 0
which_ho_babc = 9
guess_specified = 1
which_ho_sparse = 0
diagnostic_scheme = 3
include_thin_ice = 0
which_ho_efvs = 0

[CF default]
comment = test runs for coupled plume-ice system
title = coupled confined shelf test
institution = NYU

[CF input]
name = partgrounded.in.nc
time = 1

[CF output]
variables = lsurf usurf thk bmlt uvelhom vvelhom uvelhom_srf uvelhom_bas vvelhom_srf vvelhom_bas thkmask topg beta btrc 
frequency = 0.25
name = partgrounded.out.nc

[time]
tstart = 0.0
tend = 5.0
dt = 0.5
niso = 1.
ntem = 1.
nvel = 1.

[plume]
plume_nl_file = partgrounded.nl
plume_output_file = plume.partgrounded.out.nc
suppress_ascii_output = T
suppress_logging = F
plume_output_prefix = plume_test
plume_output_dir = ./
plume_write_all_states = F
plume_min_spinup_time = 5.d0
plume_min_subcycle_time = 0.5d0
plume_steadiness_tol = 1.d-6
plume_imin = 1
plume_imax = 46
plume_kmin = 30
plume_kmax = 80

