[DOME-TEST]

[parameters]
flow_factor = 1

[CF output]
variables = thk usurf uvelhom vvelhom velnormhom
frequency = 1
name = output/hump.out.nc

[grid]
upn = 10
ewn = 30
nsn = 30
dew = 2000
dns = 2000
sigma_builtin = 1

[time]
tstart = 0.
tend = 100.
dt = 1.

[CF default]
comment = forced upper kinematic BC
title = EISMINT-2 Exp B

[options]
flow_law = 2
evolution = 0
temperature = 1
diagnostic_run = 1

[ho_options]
diagnostic_scheme = 3
which_ho_babc = 4
which_ho_efvs = 0
which_ho_resid = 0
which_ho_sparse = 1

[CF input]
name = output/hump.nc
time = 1
