###################################
[parameters]
# geothermal heat flux
geothermal = -42e-3

# Glen's law A to use in isothermal case:
default_flwa = 4.6e-18

# enhancement factor for glen's A 
flow_factor = 1

# minimum thickness for running ice dynamics
# ice_limit = 

# used to decide where to chop of marine ice
# NB: not used if marine_margin = 0 is used
# Choose an extremely large value for now to prevent any chopping
marine_limit = -10000

# fraction of ice to remove from floating ice
# when using marine_margin = 3
# calving_fraction = 

# time constant for basal hydrology
# hydro_time = 

# A 5-value parameter giving basal traction characteristics
# NB: seems to be obsolete since we use basal_tract_const 
# instead
# basal_tract = 0.0 1.0 2.0 3.0 4.0

# basal_tract_const is used over the entire base of the ice
# so setting equal to 0.0 is good for a shelf
# basal_tract_const = 0.0

# dependence of basal traction on basal water depth
# basal_tract_slope = 

# initial backstress assigned to areas of positive thickness
# NB: only used in case marine_margin = 5
# stressin = 

# initial backstress assigned to other areas
# stressout = 0.0

# NB: only used in case slip_coeff = 5
# sliding_constant = 

# set degree of detail in logging:
# log_level = 6 means all messages
#	      0 means none
log_level = 6

#######################################
[Petermann shelf]
# constant air temperature above shelf
air_temperature = -25.0

# constant and uniform accumulation
accumulation_rate = 0.0

# Take eustatic_sea_level = 0.0 since we don't 
# investigate changing sea level
eustatic_sea_level = -30.0

#######################################
[options]
# i/o parameter file (containing more config info)
# ioparams =

# flow_law = 2 means constant A = 10^(-16)a^(-1)Pa^(-n)
flow_law = 2

# evolution = 0 means pseudo-diffusion
#           = 1 means ADI scheme
#           = 2 means iterated diffusion
#           = 3 means LANL incrementral remapping method
#               for thickness advection
#           = 4 upwind advection
evolution = 3

# temperature = 1 means full 3D thermal evolution
#	      = 0 means set to air temperature
temperature = 0

# topo_is_relaxed = 1 means the initial topography is 
#                     already isostatically relaxed
# topo_is_relaxed = 

#vertical_integration = 1 means constrained to obey kinematic BC
vertical_integration = 1

# ?????? ASK STEVE 
sliding_law = 4

# ????? ASK STEVE
stress_calc = 2

# marine_margin = 0 means ignore marine margin
#                = 2 means set thickness to zero if relaxed bedrock is more 
#                    than certain water depth (set ???)
marine_margin = 2

# topo_is_relaxed = 1 means the initial topography is 
#                     already isostatically relaxed
topo_is_relaxed = 1

# slip_coeff = 0 means set equal to zero everywhere
#            = 1 means basal traction is constant (basal_tract_const)
#            = 2 means Set to (non--zero) constant where where temperature
#                is at pressure melting point of ice, otherwise to zero
#             = 3 means function of basal water depth 
slip_coeff = 1

# self-explanatory
periodic_ew = 0
periodic_ns = 0

# are we doing a restart (1 = yes, 0 = no)
hotstart = 0

# set diagnostic_run = 1 causes glide to stop in thck_lin_evolve subroutine right after
#                        running run_ho_diagnostic(model)
diagnostic_run = 0

# basal_water = 0 means calc from local basal water balance
#             = 1 means compute basal water flux then find depth via cal
#             = 2 means no basal water
basal_water = 0

# which_bmlt = 0 means use usual Glimmer-CISM method to calc bmlt
#            = 1 means use plume model to calculate bmlt above floating ice
which_bmlt = 1

##############################################
[grid]
# number of vertical levels
upn = 11

# number of grid nodes in east-west direction
ewn = 46

# number of grid nodes in north-south direction
nsn = 86

# east-west grid spacing
dew = 200

# north-south grid spacing
dns = 200

# sigma_builtin = 0 means use the default sigma levels
	        = 1 means ???
sigma_builtin = 1

###########################################
#[sigma]
# can specify all sigma levels, consistent with upn specified
# sigma_levels = 0.0 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1.0

# sigma_file is the location of a file specifying
# sigma levels.  If not provided default levels
# are used.
# sigma_file = 

###############################################

[ho_options]
# which higher-order prognostic scheme to use in 
# thickness evolution (only used in thick_nonline_evolve
# and thick_lin_evolve, but not in incremental remapping)
# prognostic_sheme = 0 means SIA only
#                    1 means Pattyn scheme 
#prognostic_scheme = 0

# fallback solver method:
# which_ho_sparse_fallback = -1 means no fallback
which_ho_sparse_fallback = 3

# how to compute beta:
# basal_stress_input = 2 means basal traction is given directly
basal_stress_input = 3

# basal_stress_type = 0 means linear
#                     1 means plastic
# NB: only matters inside subroutines velo_hom_pattyn and veloc2
# method of calculating residual: 
basal_stress_type = 0

# which_ho_resid = 0 means use max value
# NB: only used in glam_velo_fordsiapstr
which_ho_resid = 1

# basal boundary condition: 
# which_ho_babc = 5 means simple ice-shelf (glam_strs2.F90:2855)
#                 7 means circular ice-shelf
# NB: only used when using Payne-Price diagnostic scheme
which_ho_babc = 9

# how to compute source term for an ice shelf: 
# which_ho_source = 0 means vertically averaged
#                   1 means pressure dependent on depth
#                   2 means shelf front disabled  
# NB: only used inside Pattyn's veloc2 subroutine
which_ho_source = 0

# I don't understand this option yet, but false is more conservative
guess_specified = 1

#which sparse solver to use:
#  which_ho_sparse = 0 means biconjugate gradiate with incomplete LU precond. 
#                    1 means GMRES
#                    2 means UMF (?)
#                    3 means PARADISO (?)
which_ho_sparse = 1

# which higher-order diagnostic scheme to use:
# diagnostic_scheme = 3 means Payne-Price scheme
#                     2 means Pattyn staggered ?            
diagnostic_scheme = 3

# whether or not to include thin ice in HO calculation
# 1 means true
include_thin_ice = 0

# ho effective viscosity : which_ho_efvs = 0 means calculate from strain rate
which_ho_efvs = 0

#################################################
[CF default]
comment = test runs for coupled plume-ice system
title = coupled confined shelf test
institution = NYU

################################################
[CF input]
#name of netcdf file containing input data fields
name = partgrounded.in.nc

#which time slice to read input data from
time = 1

################################################
[CF output]

### NB: there is a (250) character limit on line length!!!

# the following is a list of all possible output variables:
# level lithoz x0 x1 y0 y1 acab acab_tavg age artm backstress
# beta bheatflx bmlt bmlt_tavg btemp btrc bwat bwatflx calving 
# diffu dusrfdtm eus flwa gl_ew gl_ns gline_flux iarea ivol
# kinbcmask lat litho_temp lon lsurf relx slc soft surfvel tau_xz tau_yz
# taux tauy temp thk thkmask topg ubas ubas_tavg uflx usurf 
# uvel uvelhom vbas vbas_tavg velnormhom vflx vvel vvelhom wgrd wvel

variables = lsurf usurf thk bmlt uvelhom vvelhom uvelhom_srf uvelhom_bas vvelhom_srf vvelhom_bas thkmask topg beta btrc 

# time in between writing state to output file (in years)
frequency = 0.25

# name of output file
name = partgrounded.out.nc

###########################################
[time]
# start time of model run (years)
tstart = 0.0

# end time of model run (years)
tend = 0.25

# time step (years)
dt = 0.25

# isostasy dt factor
niso = 1.

# thermal dt factor
ntem = 1.

# velocity dt factor
nvel = 1.

# diagnostic frequency
# ndiag =

# profile period (?)
# profile_period = 


################################################
[plume]
# path to plume namelist file
plume_nl_file = partgrounded.nl
plume_output_file = plume.partgrounded.out.nc

# set to 1 in order to suppress all old-style ASCII data output
suppress_ascii_output = T

# set to T to suppress all screen and file output (logging)
suppress_logging = F

# prefix to put on the old style ASCII output
plume_output_prefix = plume_test

# where to write the output files
plume_output_dir = ./

# option to write out all states (all timesteps)
# NB it is very storage hungry
plume_write_all_states = .false.

# minimum time to spinup the plume, in days
plume_min_spinup_time = 5.d0

# minimum subcycle time, in days
plume_min_subcycle_time = 0.5d0

# plume steadiness tolerance (max relative change in bmelt)
plume_steadiness_tol = 1.d-6

# These numbers define the domain within the common grid that
# the plume will be allowed to use.  In particular, 
# with a north-flowing ice shelf, Glimmer-CISM needs to have the ice-shelf
# front a few cells south of the northern edge but the plume model
# won't be happy with an ice shelf lower surface that abruptly rises
# to sea level, so we restrict the plume model to the ice containing
# areas by setting plume_kmax to be the marine margin.
plume_imin = 1
plume_imax = 46
plume_kmin = 30
plume_kmax = 80

