[ISMIP-HOM-A]

[parameters]
flow_factor = 1
ice_limit = 100 
stress_exp = 3.0            # 1.5-4.2 w/ approx. mean of 3
flwa_q_warm = 139000.0      # ???
flwa_q_cold = 60000.0       # 42e3-84e3 w/ mean of 60e3

[CF output]
variables = thk usurf uvelhom vvelhom velnormhom temp
frequency = 5
name = output/dome.out.nc

[grid]
upn = 10
ewn = 31
nsn = 31
dew = 5000
dns = 5000

[time]
tstart = 0.
tend = 100.
dt = 1.
#ndiag = 1
#idiag = 10
#jdiag = 10

[CF default]
comment = for simple UQ problem
title = simple dome evolution 

[options]
flow_law = 2
evolution = 3
temperature = 3
diagnostic_run = 0
hotstart = 0

[ho_options]
diagnostic_scheme = 3
which_ho_nonlinear = 1
which_ho_babc = 5
which_ho_efvs = 0
which_ho_resid = 0
which_ho_sparse = 3
which_disp = 0

[CF input]
name = output/dome.nc
time = 1
