[SPIN MB]
model_type = 1
use_simple = 0
oxygen_isotope_file = GRIP120kyr_oisotopes_glimmer_friendly.data

[SPIN Temperature]
temp_file = GRIP120kyr_temps_glimmer_friendly.data
model_type = 1 #0 is the Huybrechts model, 1 is the Fausto
use_simple = 0

[SPIN Elevation Correction]
ele_file=elegreen_ff1.0_s0.45d4.dump 


[SPIN SLC]
slc_file = specmap_120kyr_glimmer_friendly.data

[grid]
ewn = 301
nsn = 561
upn = 11
dew = 5000
dns = 5000

[sigma]
sigma_levels = 0.00 0.15 0.30 0.45 0.60 0.75 0.83 0.90 0.95 0.98 1.00

[options]
temperature = 1
flow_law = 0
marine_margin = 7
slip_coeff = 5
evolution = 0
basal_water = 2
vertical_integration = 0
topo_is_relaxed = 2
hotstart = 0

[GTHF]


[isostasy]
lithosphere=1
asthenosphere=1
relaxed_tau=3000.0

[time]
tend = 120001
dt = 0.1
ntem = 1.0
nvel = 0.1


[parameters]
flow_factor = 2.0
ice_limit= 100.0
sliding_constant = 1.8d-5

[CF default]
title: Greenland

[CF output]
name: ./spin5kmGreen_0118_1.8d5_mm7_ff2.0_huys_woele_full.nc
frequency: 1000
variables: hot thk bmlt btemp temp bwat uvel thkmask ablt surfvel vvel wvel wgrd acab diffu artm usurf topg relx flwa arng prcp bheatflx presprcp presartm ivol iarea btrc ubas vbas taux tauy backstress

[CF input]
name: ./greenland_5km_v0.91.nc

